/* color palette from <https://github.com/vuejs/theme> */
*{
  --actions-color: #DDD0C8;
  --dark:#0a0f47;
  --page:#DDD0C8;
  --primary: #323232;
}
.white{
    color: white;
}

.color-red{
    color:red
}

.color-action{
  color: var(--actions-color);
}

.color-secondary{
  color: var(--dark)
}

.primary-color{
  background-color: var(--primary);
  border: 1px solid var(--primary);  
}

.background-primary-dark{
  background-color: var(--dark);
  border: 1px solid var(--dark);
}


.background-page{
  background-color: var(--page);
}

.background-action{
  background-color: var(--actions-color);
  border: 1px solid var(--actions-color)
}

.background-action-outlined{
  border: 1px solid var(--primary);
  background-color: transparent;
  color:var(--primary) ;
  transition: 0.2s ease-in-out;
}

.background-action-outlined:hover{
  background-color: var(--primary) ;
  color: white;
}

.background-transparent{
  background-color: transparent;
  border-color: transparent;
}
.background-white{
  background-color: white;
}

.border-slider{
  border: 1px solid var(--primary)
}

.hover-dark:hover{
  background-color: var(--dark);
}

.sidebar-footer{
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}