.margin-0-auto{
    margin: 0 auto;
}

/*------ TOP -----*/
.mt-1{
    margin-top: 1em;
}

.mt-2{
    margin-top: 2em;
}

/*----- Bottom -----*/
.mb-1{
    margin-bottom: 1em;
}

.mb-2{
    margin-bottom: 2em;
}

.mb-4{
    margin-bottom: 4em;
}

.mb-10px{
    margin-bottom: 10px;
}

/*------ Right -----*/

.mr-10px{
    margin-right: 10px;
}

.mr-1{
    margin-right: 1em;
}

/*------ Left -----*/
.ml-1{
    margin-left: 1em;
}

.ml-2{
    margin-left: 2em;
}
.ml-10px{
    margin-left: 10px;
}

