/* color palette from <https://github.com/vuejs/theme> */
.white{
    color: white;
}

.color-red{
    color:red
}

.primary-color{
  background-color: #0EA5E9;  
}

.background-primary-dark{
  background-color: rgb(31, 31, 67);
  border: 1px solid rgb(31, 31, 67);
}