.margin-0-auto{
    margin: 0 auto;
}

.mt-1{
    margin-top: 1em;
}

.mt-2{
    margin-top: 2em;
}

.mb-1{
    margin-bottom: 1em;
}

.mb-4{
    margin-bottom: 4em;
}

.mb-10px{
    margin-bottom: 10px;
}

.mr-10px{
    margin-right: 10px;
}

.mr-1{
    margin-right: 1em;
}

.ml-1{
    margin-left: 1em;
}
.ml-10px{
    margin-left: 10px;
}

.pr-10px{
    padding-right: 10px;
}

.padding-5px{
    padding: 5px;
}

.padding-10px{
    padding: 10px;
}