.product-image{
    min-width: 100px;
    max-width: 100px;
    height: 100px;
    object-fit: contain;
}

.container-order{
    width: 100%;
    margin: 2em auto;

    @media screen and (min-width: 600px) {
        width: 80%;
    }

    @media screen and (min-width: 1200px) {
        width: 50%;
    }
}

.product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 500px) {
        flex-direction: row;
    }
}

.all-products{
    border-right: 1px solid black;
    padding-right: 50px;
}

